<?xml version="1.0" encoding="utf-8"?>
<!-- Manifest: "ficha de identidade" do app.
     Diz o nome, o icone, o tema e quais telas (Activities) existem. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fatia">

        <!-- MainActivity e a tela principal do app. -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Fatia">

            <!-- Este bloco diz que esta e a tela que abre
                 quando o usuario toca no icone do app. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
